@charset "UTF-8";

/*
nome:Carlos Benfica
nome:Dmitri Patricio 
nome:Matheus
nome:Vitor
nome:Robert Richard Cruz da Silva
version: Estilo.css 1.0
date: 2019-09-11
GIT:git@github.com:robertsilva4/site-HumArt.git
*/
html {
    background-color: white;
}

body {
    
    background-color: #f0f0f0;
    font-family: 'Times New Roman', serif;
}

footer ul li a {
    text-decoration: none;
}
nav{
    font-family:'Arial', sans-serif;
}